APP_CONTAINER_NAME=agentic_ai_app
NGINX_CONTAINER_NAME=agentic_ai_nginx
DB_CONTAINER_NAME=agentic_ai_db

NGINX_PORT=8080

DB_ROOT_PASSWORD=root
DB_NAME=agentic_ai_test
DB_USER=symfony
DB_PASSWORD=symfony
DB_PORT=3307